.news_container {
  width: 100%;
  height: 300px;
  align-items: center;
  background-color: #d4dd84;
}

.carousel {
  /* margin-top: 50%; */
}

.news {
  width: 100%;
  margin-top: auto;
}
.new_head {
  color: #66ae03;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.paras {
  margin-right: 10%;
  margin-left: 10%;
  margin-bottom: 3%;
  display: flex;
  justify-content: space-around;
}
